@use "../../variables.scss" as *;

.center_content {
  display: flex;
  align-items: center;
}

.write-container {
  background-color: $primary-color;
  border-radius: 50%;
  padding: 10px;
  border: 5px solid $primary-color;
  transition: 0.2s ease-in;
  color: $textL-color;

  &:hover {
    background-color: $backgroundD-color;

    a {
      color: $primary-color;
      font-weight: 700;
      background-color: $backgroundD-color;
    }
  }
}
.navbar {
  @extend .center_content;
  position: sticky;
  z-index: 5;
  top: 0;
  left: 0;
  justify-content: space-between;
  padding: 0.6rem;
  height: 100%;
  padding-left: calc(2rem + 0.5vw);
  padding-right: calc(2rem + 0.5vw);
  filter: drop-shadow(0 0 3px black);

  @media screen and (max-width: 950px) {
    padding: 0.6rem;
    padding-left: calc(1rem + 0.5vw);
    padding-right: calc(1rem + 0.5vw);
  }
  @media screen and (max-width: 500px) {
    padding: 1.3rem;
  }

  &_logo {
    width: 15rem;
    @media screen and (max-width: 950px) {
      width: 30%;
      min-width: 11rem;
    }
    @media screen and (max-width: 95px) {
      width: 10rem;
    }
  }
  &_links {
    @extend .center_content;
    gap: 6rem;

    &--sub_1 {
      @extend .center_content;
      flex-direction: row;
      justify-content: space-between;
      gap: 21px;
      @media screen and (max-width: 935px) {
        display: none;
      }
    }
    &--sub_2 {
      @extend .center_content;
      gap: 18px;
      flex-direction: row;
      justify-content: space-between;
      position: relative;
      @media screen and (max-width: 400px) {
        .writebtn {
          display: none;
        }
      }
    }
  }
  &__link {
    border-bottom: 5px solid rgba(0, 0, 0, 0);
    &--active {
      font-size: 1.05rem;
      border-radius: 0.3rem;
      border-bottom: 5px solid $primary-color;
    }
  }
}

.navbar_btn--toogle {
  display: none;
  cursor: pointer;

  @media screen and (max-width: 935px) {
    display: block;
  }
}

.navbar_mobile {
  &__modal {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.39);
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    @media screen and (min-width: 935px) {
      display: none;
    }
  }

  &__menu {
    @extend .center_content;
    position: absolute;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 4;
    right: 0;
    padding: 5rem 0 0 0;
    height: 100%;
    animation-name: slideIn;
    animation-duration: 0.7s;
    animation-timing-function: ease-out;

    &--items_1 {
      background-color: rgba(0, 0, 0, 0);
      padding: 1rem 1rem 0 4rem;
      text-align: right;
      width: 100%;
      font-size: 1.15rem;
      border-radius: 6px;
      border: rgba(0, 0, 0, 0) solid 2px;
      outline: none;
      &:after {
        content: "";
        width: 100%;
        height: 4px;
        color: $textD-color;
      }
      &:hover,
      &:active,
      &:focus {
        border: $primary-color solid 2px;
      }
    }
    &--items_2 {
      a {
        font-size: 1.25rem;
      }
    }
  }
}
// .menu-Links {
//   background-color: rgba(0, 0, 0, 0);
//   display: none;
//   flex-direction: row;
//   width: 20rem;
//   gap: 4rem;
//   justify-content: space-between;

//   @media screen and (max-width: 500px) {
//     display: flex;
//   }
// }

@keyframes slideIn {
  from {
    right: -20rem;
  }
  to {
    right: 0;
  }
}
