* {
  color: #DCDCDC;
  background-color: #282634;
  scroll-behavior: smooth;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;

}

body {
  font-family: "Poppins", sans-serif;
  font-size: 100;
  margin: 0;
}



img {
  width: 100%;
}

a {
  text-decoration: none;
  /* color: #282634; */
  font-size: 15px;
  transition: ease-in 0.2s;
  margin: 0
}

a:hover {
  transform: scale(1.005);
  color: #fff;
}

@font-face {
  font-family: "Poppins";
  src: url(./Font/Poppins-Medium.ttf);
}

/* width */
::-webkit-scrollbar {
  width: 12px;
  opacity: 0.5;
}

/* Track */
::-webkit-scrollbar-track {
  background: #7977773d;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;

  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  opacity: 1;
  background: #ff40565d;
}

/* Firefox */